.container{
  display: -webkit-flex;
  display: -ms-flex;

  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  flex-wrap: wrap;
}

.container .block{
  box-sizing: border-box;
    flex: 1 1 auto;
}

.block {
  flex-grow: 1;
  flex-basis: 5em;
}
