header {
  width: 100%;
  background: #313333;
  /* overflow: hidden;
  position: sticky; */
  /* position:fixed;
  z-index: 1000; */
  padding: .25rem;
}

a {
  text-decoration: none;
}

.header-style {
  position: fixed;
  top: 0;
  z-index: 100000;
  overflow: hidden;
  width: 100%;
}

.header-style-2 {
  top: 0;
  z-index: 100000;
  overflow: hidden;
  width: 100%;
}

.header-box {
  /* overflow: hidden;
  position: sticky;
  top: 0; */
}

.main-navigation {
  width: 100%;
}

.logo {
  width: auto;
}

#navigation-header {
  height: 60px;
}

#navigation-header img {
  height: 100%;
  padding-left: 5rem;
  margin: auto 0;
  vertical-align: middle;
}

/*Header for name*/
.main-header-name {
  display:inline-block;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .25rem;
  padding-left: .75rem;
  margin: auto 0;
  vertical-align: middle;
}


/* right nav block */
.navigation-right{
  /* align-self is the vertical alignment */
  display: block;
  align-self: center;
  text-align: right;
  justify-content: flex-end;
  margin: 0 auto;
}

/*Header for projects and about me*/
.main-header-projects {
  display:inline-block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .25rem;
  padding-right: 2rem;
  margin: auto 0;
  vertical-align: middle;
  text-align: left;
  /* position: relative; */
}

.main-header-projects-2 {
  display:inline-block;
  color: #04E824;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .25rem;
  padding-right: 2rem;
  margin: auto 0;
  vertical-align: middle;
  text-align: left;
  /* position: relative; */
}

.main-header-about-me {
  display:inline-block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .25rem;
  padding-right: 5rem;
  margin: auto 0;
  vertical-align: middle;
  text-align: left;
}

.active-header h2:hover, .active-header h2:focus {
  color: #04E824;
}

@media(max-width:700px) {
  .main-header-projects {
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: block
  }

  .main-header-projects-2 {
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: block
  }


  .main-header-about-me {
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    display: block;
    margin-bottom: 1rem;
  }
}

@media (max-width:505px) {

  .main-header-name {
    text-align:center;
    font-size: 15px;
    margin: 2rem auto;
  }

  .main-header-projects {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .main-header-projects-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }


  .main-header-about-me {
    margin-bottom: 1rem;
  }
}

@media (max-width:450px) {
  .main-header-name {
    text-align:center;
    font-size: 13px;
    margin: 2rem auto;
  }

  .main-header-projects {
    margin-top: 1.75rem;
    margin-bottom: 1rem;
  }

  .main-header-projects-2 {
    margin-top: 1.75rem;
    margin-bottom: 1rem;
  }

  #navigation-header {
    height: 40px;
  }

}

@media (max-width:400px) {
  .main-header-projects {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .main-header-projects-2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}

@media (max-width:380px) {
  #navigation-header {
    height: 35px;
  }

  .main-header-projects {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .main-header-projects-2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
