header {
  width: 100%;
  background: #313333;
  /* overflow: hidden;
  position: sticky; */
  /* position:fixed;
  z-index: 1000; */
  padding: .25rem;
}

a {
  text-decoration: none;
}

.header-style {
  position: fixed;
  top: 0;
  z-index: 100000;
  overflow: hidden;
  width: 100%;
}

.header-box {
  /* overflow: hidden;
  position: sticky;
  top: 0; */
}

.main-navigation {
  width: 100%;
}

.logo {
  width: auto;
}

#navigation-header {
  height: 60px;
}

#navigation-header img {
  height: 100%;
  padding-left: 5rem;
  margin: auto 0;
  vertical-align: middle;
}

/*Header for name*/
.main-header-name {
  display:inline-block;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .25rem;
  padding-left: .75rem;
  margin: auto 0;
  vertical-align: middle;
}

/*Header for projects*/
.main-header-projects {
  display:inline-block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .25rem;
  padding-left: .75rem;
  margin: auto 0;
  vertical-align: middle;
  text-align: left;
  position: relative;

}


/*Header for about me*/
.main-header-about-me {
  display:inline-block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .25rem;
  padding-left: .75rem;
  margin: auto 0;
  vertical-align: middle;
  text-align: left;
  position: relative;

}
