html, body {
  height: 100%;
  padding: 0rem;
  margin: 0rem;
}

body {
  font-family: 'Montserrat', Verdana, sans-serif;
}

h1 {
  padding: 0rem;
  margin: 0rem;
}

div {
  display: block;
}

center-align {
  text-align: center;
  margin: auto;
}

figure {
  margin: 0 0 2em 0;
  width: 100%;
  text-align: center;
}

img {
  height: auto;
}
.border-bottom {
  margin:-0.5em auto 2em;
  border-bottom: 2.5px solid #616666;
  width: 7rem;
}

/* HEADER */
header{
  width: 100%;
}

.home-nav-block{
  align-self: flex-start;
}

.home-nav-block a{
  text-decoration: none;
  color: #ffffff;
}

.menu-nav-block{
  text-align: right;
  color: #ffffff;
}

.menu-nav-block a{
  text-decoration: none;
  color: #ffffff;
}

/*Start of Landing Page*/

.landing-page {
  /*For opacity either call opacity: .75 or use rgb(value, value, value, alpha) convert hex into rgb coolors.co*/
  background: linear-gradient(to top left, #F4F8EA 0%, #04E824 100%);
  position: relative;
  height: 100vh;
}

#section-index {
  color: #ffffff;
  padding-left: 5rem;
}

.index-main-title {
  font-size: 65px; /*font-size: 5vh; use if using flex, align, justify, and text-align*/
  font-weight: 500;
  letter-spacing: .75rem;
  /* display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  line-height: .75; */
  padding-top: 12rem;
  padding-right: 5rem;
  margin: 0;
  text-transform: uppercase;
}

.index-name {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: .55rem;
  padding-right: 5rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.index-sub-title {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: .35rem;
  padding-right: 5rem;
  text-transform: uppercase;
}
/*End of Landing Page  */

/*Start of Projects Page*/
.projects-page {
  background: #ffffff;
  position: relative;
  height: 100vh;
}

.projects-section-container {
  width: 90%;
  margin: 0 auto;
}

#section-projects {
color: #04E824;
}

.section-projects-title {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2.75rem;
  padding-bottom: .5rem;
  letter-spacing: .55rem;
}

.featured-project {
  width: 45%;
  margin: 1rem 1.5rem;
}

.featured-project a img {
  width: 100%;
  height: auto;
}
.project-image{
  width: 100%;
}

.project-header-title {
  font-size: 15px;
  font-weight: 500i;
  letter-spacing: 1.25px;
  color: #515555;
  text-align: left;
}

.image-caption {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #717777;
  text-align: left;
}

.hyperlink {
  text-align: left;
  padding-top: .15rem;
  text-decoration: none;
}

.hyperlink a {
  padding-top: .15rem;
  text-decoration: none;
  color: #04E824;
}

.nav-button a{
  font-size: 15px;
  letter-spacing: 1px;
  color: #04E824;
  background-color: #ffffff;
  border-style: solid;
  border-color: #04E824;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
  text-align: center;
}

.nav-button a:hover, .nav-button a:focus {
  color: white;
  background-color: #04E824;
  text-align: center;
}



/*End of Projects Us Page  */
