html, body {
  height: 100%;
  padding: 0rem;
  margin: 0rem;
}

body {
  font-family: 'Montserrat', Verdana, sans-serif;
}

h1 {
  padding: 0rem;
  margin: 0rem;
}

h3 {
  margin-top: 0rem
}

div {
  display: block;
}

center-align {
  text-align: center;
  margin: auto;
}

figure {
  margin: 0 0 2em 0;
  width: 100%;
  text-align: center;
}

img {
  height: auto;
  margin-bottom: 1rem;
}

p {
  color: #ffffff;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

.border-bottom {
  margin:-0.5em auto 2em;
  border-bottom: 2.5px solid #616666;
  width: 7rem;
}

.border-bottom-3 {
  margin:-0.5em auto 2em;
  border-bottom: 2.5px solid #04E824;
  width: 7rem;
}

/*Start of Landing Page*/

.landing-page {
  /*For opacity either call opacity: .75 or use rgb(value, value, value, alpha) convert hex into rgb coolors.co*/
  /* background: linear-gradient(to top left, #F4F8EA 0%, #04E824 100%); */
  position: relative;
  height: 120vh;
  /* putting linear gradient on top of image, also image file has to be referenced by going out of folder before going into img folder */
  background: linear-gradient(to top left,
    /* rgba(244,248,234,0.7),
    rgba(4,232,36,1)), */
    rgba(4,232,36,0.3),
    rgba(49,51,51,1)),
    url('../img/wireflows_333_latest.gif');
  background-clip: border-box;
  background-size: cover;
}

#section-index {
  color: #ffffff;
  padding-left: 5rem;
}

.index-main-title {
  font-size: 65px; /*font-size: 5vh; use if using flex, align, justify, and text-align*/
  font-weight: 500;
  letter-spacing: .75rem;
  padding-top: 15rem;
  padding-right: 5rem;
  margin: 0;
  text-transform: uppercase;
}

.index-main-title-2 {
  font-size: 65px; /*font-size: 5vh; use if using flex, align, justify, and text-align*/
  font-weight: 500;
  letter-spacing: .75rem;
  text-transform: uppercase;
}


.index-name {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: .55rem;
  padding-right: 5rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.index-sub-title {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: .35rem;
  padding-right: 5rem;
  text-transform: uppercase;
}

.index-sub-title-2 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: .35rem;
  text-transform: uppercase;
}
/*End of Landing Page  */

/*Start of Projects Page*/
.projects-page {
  background: #ffffff;
  position: relative;
  /* height: 100vh; */
}

.projects-section-container {
  width: 85%;
  margin: 0 auto;
}

.project-container {
  /* padding: .5rem; */
}

#section-projects {
color: #04E824;
}

.section-projects-title-featured-work {
  text-align: center;
  font-size: 1rem;
  padding-top: 5rem;
  padding-bottom: .5rem;
  letter-spacing: .55rem;
}

.section-projects-title-about-me {
  text-align: center;
  font-size: 1rem;
  padding-top: 5rem;
  padding-bottom: .5rem;
  letter-spacing: .55rem;
}

/* sample code for style guide */
.section-projects-title-2 {
  font-size: 30px;
  letter-spacing: .55rem;
  text-transform: uppercase;
}

.featured-project {
  width: 45%;
  margin: 1rem 1.5rem;
}

.featured-project a img {
  width: 100%;
  height: auto;
}


.project-image img{
  width: 100%;
  background-color: #ffffff;
}

.project-image img:hover, .project-image img:focus {
  opacity: .8;
}

.project-header-title {
  font-size: 15px;
  font-weight: 500i;
  letter-spacing: 1.25px;
  color: #515555;
  text-align: left;
}

.project-header-title-2 {
  font-size: 15px;
  font-weight: 500i;
  letter-spacing: 1.25px;
  color: #515555;
  text-align: left;
}

.image-caption {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #717777;
  text-align: left;
}

.image-caption-2 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #04E824;
  text-align: left;
  font-style: oblique;
}

.hyperlink {
  text-align: left;
  padding-top: .15rem;
  text-decoration: none;
}

.hyperlink a {
  padding-top: .15rem;
  text-decoration: none;
  color: #04E824;
}

.hyperlink a:hover, .hyperlink a:focus{
  color: #313333;
  font-weight: 800;
}

.nav-button a{
  font-size: 15px;
  letter-spacing: 1px;
  color: #04E824;
  background-color: #ffffff;
  border-style: solid;
  border-color: #04E824;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
  text-align: center;
  border-radius: 10px;
}

.nav-button a:hover, .nav-button a:focus {
  color: white;
  background-color: #04E824;
  text-align: center;
  border-radius: 10px;
}
/*End of Projects Page*/

/*Start of About Me Page*/
.about-me-section-container {
  width: 100%;
  margin: 0 auto;
  background: #313333;
}

.about-me-page {
  position: relative;
}

.about-me-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

#section-about-me {
color: #ffffff;
}

.about-me {
  max-width: 40%;
  /* min-height: 20rem; */
  margin: 1rem 1.5rem;
  position: relative;
}

.about-me-text-block{
  max-width: 40%;
  /* min-height: auto; */
  margin: 0 auto;
}
/*width and height better as % scales at same rate?*/
.image-border-box {
  /* box-sizing: border-box;
  position: relative;
  width: 50%;
  right: .5rem;
  height: 70%;*/
  border: 4px solid #04E824;
  align-self: flex-end;
  position: relative;
  width: 70%;
  height: 70%;
  left: 40%;
}

/*define size of image container*/
#image-of-me {
  /* width: 50%;
  position: relative;
  right: 3.5rem;
  top: 2.5rem; */
  position: relative;
  right: 10%;
  top: 10%;
}

/*define width of image*/
#image-of-me img {
 /* width: 100%; */
 width:100%;
}

.about-me-headers {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
}

.coloured-headers {
  color: #04E824;
}

.button-view-resume {
  margin-top: 1.75rem;
  margin-bottom: 2rem;
  margin-right: auto;
}

.button-view-resume a{
  font-size: 12px;
  letter-spacing: 1px;
  color: #04E824;
  background-color: #313333;
  border-style: solid;
  border-color: #04E824;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
  text-align: center;
  border-radius: 10px;
}

.button-view-resume a:hover, .button-view-resume a:focus {
  color: white;
  background-color: #04E824;
  text-align: center;
  border-radius: 10px;
}

.button-download-2 {
  font-size: 15px;
  letter-spacing: 1px;
  color: #04E824;
  background-color: #ffffff;
  border-style: solid;
  border-color: #04E824;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
  text-align: center;
  border-radius: 10px;
}

.button-download-2:hover, .button-download-2:focus {
  color: white;
  background-color: #04E824;
  text-align: center;
  border-radius: 10px;
}
/*End of About Me Page*/

/*Start of Projects Styling*/
.stranger-danger-container {
  width: 80%;
  margin: 0 auto;
}

.project-content-page {
  background: #ffffff;
  position: relative;
}

.single-project-title {
  font-size: 30px;
  font-weight: 500;
  color: #313333;
  letter-spacing: 1px;
  margin-left: 3rem;
  text-transform: uppercase;
}

.sentile-container {
  width: 80%;
  margin: 0 auto;
}

.sentile-page {
  background: #ffffff;
  position: relative;
}

.sentile-title {
  font-size: 30px;
  font-weight: 500;
  color: #313333;
  letter-spacing: 1px;
}

.back-to-projects-hyperlink {
  text-align: left;
  text-decoration: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
}

.back-to-projects-hyperlink a {
  padding-top: .15rem;
  padding-bottom: .15rem;
  text-decoration: none;
  color: #04E824;
}

.back-to-projects-hyperlink a:hover, .back-to-projects-hyperlink a:focus {
  font-weight: 800;
  color: #313333;
}

.back-to-projects-hyperlink-2 {
  text-align: left;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding-top: 1rem;
}

.back-to-projects-hyperlink-2 a {
  padding-top: .15rem;
  padding-bottom: .15rem;
  text-decoration: none;
  color: #04E824;
}

.back-to-projects-hyperlink-2 a:hover, .back-to-projects-hyperlink-2 a:focus {
  font-weight: 800;
  color: #313333;
}

.projects-paragraph {
  color: #414444;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.25rem;
  padding-bottom: 1rem;
}

.description-headers {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  color: #717777;
}

.project-subheaders {
  font-size: 20px;
  font-weight: 500i;
  color: #313333;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.project-paragraph-captions {
  font-size: 17px;
  font-weight: 500;
  color: #313333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.style-guide-section-container {
  width: 90%;
  margin: 0 auto;
}

.style-guide-page {
  background: #ffffff;
  position: relative;
  /* height: 100vh; */
}

#section-style-guide {
color: #04E824;
}

.first-look-block {
  max-width: 60%;
  min-width: 17rem;
  margin-left: 3rem;
}

.first-look-block img {
  width: 100%;
}

.project-summary-block {
  max-width: 25%;
  min-width: 15rem;
  margin-left: 3rem;
}

.project-content-block {
  max-width: 60%;
  margin-left: 3rem;
}

.project-content-images-block img {
  width: 100%;
}

.project-content-images-block-2 img {
  max-width: 20%;
  max-height: 40%;
  margin-right: 1rem;
}



@media (max-width:1094px) {
  .about-me-container{
    display: block;
  }

  .about-me-text-block{
    max-width: 85%;
  }

  .contact-info-block {
    width: 40%;
    margin: 0 auto;
  }

  .project-content-block {
    max-width: 70%;
    margin-left: 3rem;
  }

  .about-me {
    max-width: 75%;
    /* min-height: 2rem; */
    margin-left:auto;
    margin-right:auto;
    margin: 2rem 1.5rem;
    position: relative;
  }

  /*width and height better as % scales at same rate?*/
  .image-border-box {
    /* box-sizing: border-box;
    position: relative;
    width: 50%;
    right: .5rem;
    height: 70%;*/
    border: 4px solid #04E824;
    width: 75%;
    height: 25%;
    left: 20%;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  /*define size of image container*/
  #image-of-me {
    /* width: 50%;
    position: relative;
    right: 3.5rem;
    top: 2.5rem; */
    right: 10%;
    top: 1.5rem;
  }

}

@media (max-width:705px) {
  .project-content-images-block img {
    width: 100%;
  }

  .project-content-images-block-2 img {
    max-width: 30%;
    max-height: 50%;
    margin-right: 1rem;
  }
}

@media (max-width:665px){
  .about-me-headers{
    font-size: 10px;
  }
}

@media (max-width:625px) {
  .index-main-title {
    font-size: 45px; /*font-size: 5vh; use if using flex, align, justify, and text-align*/
    text-align: center;
    /* font-weight: 500;
    letter-spacing: .75rem;
    padding-top: 12rem;
    padding-right: 5rem;
    margin: 0;
    text-transform: uppercase; */
  }

  .index-name {
    font-size: 40px;
    text-align: center;
    /* font-weight: 500;
    letter-spacing: .55rem;
    padding-right: 5rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    text-transform: uppercase; */
  }

  .index-sub-title {
    font-size: 15px;
    text-align: center;
    /* font-weight: 300;
    font-style: italic;
    letter-spacing: .35rem;
    padding-right: 5rem;
    text-transform: uppercase; */
  }
  .back-to-projects-hyperlink  {
    padding-top: 4rem;
  }
}


@media (max-width:540px) {
  .button-view-resume a{
    font-size: 10px;
  }

  .about-me-headers {
    margin: 1.25rem auto;
  }

  .about-me-text-block {
    margin-right: 2.15rem;
  }

  .back-to-projects-hyperlink  {
    padding-top: 8rem;
  }
}

}

@media (max-width:505px) {
  .back-to-projects-hyperlink  {
    padding-top: 8rem;
  }
}

@media (max-width:500px) {
  .section-projects-title-featured-work {
    padding-top: 8rem;
  }

  .section-projects-title-about-me {
    padding-top: 8rem;
}
}

@media (max-width:480px) {
  .about-me-headers{
    font-size:8px;
    letter-spacing: 1px;
    }
}


@media (max-width: 470px) {
  .back-to-projects-hyperlink  {
    padding-top: 8rem;
  }
  .section-projects-title-featured-work {
    padding-top: 12rem;
  }
  .section-projects-title-about-me {
    padding-top: 12rem;
}
}

  @media (max-width:430px) {
    .index-main-title {
      font-size: 35px; /*font-size: 5vh; use if using flex, align, justify, and text-align*/
      /* font-weight: 500;
      letter-spacing: .75rem;
      padding-top: 12rem;
      padding-right: 5rem;
      margin: 0;
      text-transform: uppercase; */
    }

    .index-name {
      font-size: 25px;
      /* font-weight: 500;
      letter-spacing: .55rem;
      padding-right: 5rem;
      margin-bottom: 2rem;
      margin-top: 1.5rem;
      text-transform: uppercase; */
    }

    .index-sub-title {
      font-size: 12px;
      /* font-weight: 300;
      font-style: italic;
      letter-spacing: .35rem;
      padding-right: 5rem;
      text-transform: uppercase; */
    }

  }

  @media (max-width:425px) {
    .button-view-resume a{
      font-size: 9px;
    }

    .about-me-headers {
      margin: 1rem auto;
    }

    .about-me-text-block {
      margin-right: 2rem;
    }
  }

  @media (max-width:380px) {
    .button-view-resume a{
      font-size: 8px;
    }
  }
