.style-guide-title {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 4.75rem;
  padding-bottom: .5rem;
  letter-spacing: .55rem;
  border: none;
}


.styleguide-section {
  width: 90%;
  margin: 4rem auto;
}


.element-block {
  min-width: 60%;
  margin: 1rem 2rem 1rem 1rem;
}

.gridContainer {
  background-color: #5a5a5a;
}

.gridBlock {
  background-color: #313333;
  padding: 1rem;
  text-align: center;
  margin: 0.5rem 0.5rem;
  color: #ffffff;
}

.code-block {
  min-width: 20rem;
  margin: 1rem auto;
  padding: 1rem 1rem;
  background-color: #5a5a5a;
  color: #ffffff;
}

.border-bottom-2{
  font-weight: 500;
  color: #313333;
  border-bottom: 1.25px solid #04E824;
}

.dark-text{
  color: #313333;
}

.dark-text-2{
  color: #515555;
}

.projects-paragraph-block {
  max-width: 60%;
}

/* colour swatches */
.colourBlock {
  min-width: 10%;
  padding: 1rem;
}
.green{
  background-color: #04E824;
  color: white;
  padding: 1rem;
}

.grey{
  background-color: #313333;
  color: white;
  padding: 1rem;
}

.white{
  background-color: #ffffff;
  padding: 1rem;
}

#colour-palette-section{
  margin-bottom: 5rem;
}

@media (max-width: 660px) {
  .index-main-title-2 {
    font-size: 45px;
    /* font-weight: 500;
    letter-spacing: .75rem;
    text-transform: uppercase; */
  }

  .section-projects-title-2 {
    font-size: 30px;
    /* letter-spacing: .55rem;
    text-transform: uppercase; */
  }

  .index-sub-title-2 {
    font-size: 15px;
    /* font-weight: 300;
    font-style: italic;
    letter-spacing: .35rem;
    padding-right: 5rem;
    text-transform: uppercase; */
  }
}

@media (max-width: 515px) {
  .index-main-title-2 {
    font-size: 30px;
    /* font-weight: 500;
    letter-spacing: .75rem;
    text-transform: uppercase; */
  }

  .section-projects-title-2 {
    font-size: 20px;
    /* letter-spacing: .55rem;
    text-transform: uppercase; */
  }

  .index-sub-title-2 {
    font-size: 13px;
    /* font-weight: 300;
    font-style: italic;
    letter-spacing: .35rem;
    padding-right: 5rem;
    text-transform: uppercase; */
  }
}

@media (max-width:500px) {
  .style-guide-title {
    padding-top: 6rem;

  }
}

@media (max-width:470px) {
  .style-guide-title {
    padding-top: 10rem;
  }
}

@media (max-width: 415px) {
  .index-main-title-2 {
    font-size: 20px;
    /* font-weight: 500;
    letter-spacing: .75rem;
    text-transform: uppercase; */
  }

  .section-projects-title-2 {
    font-size: 15px;
    /* letter-spacing: .55rem;
    text-transform: uppercase; */
  }

  .index-sub-title-2 {
    font-size: 10px;
    /* font-weight: 300;
    font-style: italic;
    letter-spacing: .35rem;
    padding-right: 5rem;
    text-transform: uppercase; */
  }
}

@media (max-width:1150px) {
  .projects-paragraph-block {
    max-width: 90%;
  }
}
